*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.home-btn {
    margin-top: 4%;
    text-align: center;
}

.btn {
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    background: none;
    color: white;
    background: #4b8cfb;
    font-size: 19px;
    list-style: none;
    text-decoration: none;
}

.btn:hover{
    background-color: #4b8cfb;
    color: white;
}

body {
    font-family: cursive;
    margin: 0;
    padding: 0;
  }

  #about {
    background-color: #f8f9fa;
    padding: 20px 0; 
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
  }

  .m-heading {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }

  .primary-text {
    color: #007bff;
  }

  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .about-content > div {
    flex: 1;
    padding: 0 30px;
    text-align: justify;
  }

  .about-content > div p {
    margin-bottom: 20px;
  }

  .about-content img {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }